.navbar {
  margin: 0 auto;
  text-align: center;
  height: 35px;
  font-size: 16px;
  line-height: 35px; }

.top-nav {
  float: left;
  margin: 0 auto;
  display: inline-block;
  color: #797979;
  width: 25%; }
  .top-nav:hover {
    color: black; }

.main-image {
  background: url(../background.jpg);
  background-size: fixed;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 1px #000;
  box-sizing: border-box;
  margin-top: 0;
  margin-left: 2px;
  margin-right: 2px;
  height: 200px; }

.main-image-text {
  margin: 0 auto; }

.main-body {
  background: white;
  padding: 25px 8px; }

.member-levels {
  padding: 25px 10px;
  box-sizing: border-box;
  margin-top: 30px; }

.header {
  padding: 15px 0; }

.level-name {
  margin: 0 auto;
  height: 30px;
  color: white;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  padding-top: 10px; }

.price {
  height: 100px;
  text-align: center;
  color: white;
  font-size: 85px; }

.per-month {
  height: 30px;
  text-align: center;
  font-size: 20px;
  color: #F7F7F7;
  opacity: .5; }

.personal {
  background: #539153; }

.small-business {
  background: #2D4A83; }

.enterprise {
  background: #101010; }

.level-features {
  background: #F7F7F7;
  height: 45px;
  border-bottom: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
  color: #49575C; }

.choose-button-box {
  height: 85px;
  background: white;
  border-bottom: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  padding: 20px 140px;
  box-sizing: border-box; }

.choose-button {
  border-radius: 2em;
  border: 2px solid #E8E8E8;
  width: 90px;
  height: 28px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 8px; }
  .choose-button:hover {
    border-color: black;
    box-shadow: 1px 1px 1px #000; }

.more-details {
  margin: 20px auto;
  padding: 20px 20px 0px 20px; }

.details-title {
  margin: 5 auto;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
  letter-spacing: .2em; }

.details-description {
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px; }

.bottom-bar {
  height: 100px;
  background: black;
  color: #939393;
  padding-top: 3px;
  padding-bottom: 15px;
  text-align: center;
  box-sizing: border-box; }

.bottom-bar-emphasis {
  color: white;
  text-decoration: underline; }

@media (min-width: 479px) {
  .main-image {
    height: 400px;
    padding-top: 150px;
    font-size: 46px; }
  .bottom-text {
    display: block; } }

@media (min-width: 767px) {
  .member-levels {
    width: 33.3%;
    float: left; }
  .choose-button-box {
    padding: 20px 0 0 0; }
  .main-body {
    overflow: hidden; }
  .more-details {
    float: left;
    width: 50%;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    margin: 0; }
  .top-nav {
    margin: 5px 15px;
    width: auto; }
  .clear {
    clear: left; }
  .bottom-text {
    display: inline; }
  .bottom-bar {
    padding-top: 30px; } }

@media (min-width: 979px) {
  .memberships {
    max-width: 979px;
    margin: 0 auto; }
  .details {
    max-width: 979px;
    margin: 0 auto; } }
